/** Stripped down version of Bootstrap that only includes icon support **/
@import "bootstrap.min.css";

html.notembed,
body.notembed,
map,
.map.container,
#map_container
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
li,
a,
blockquote,
span,
div,
.esriAttribution {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.esriAttribution {
    font-size: 11px;
}

html.notembed, body.notembed, map,.map.container,#map_container
html, body {
    background-color: rgb(252,252,252);
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#webmapTitle {
	font-size: 16px;
	float: right;
	margin-right: 30px;
	color: #44515A;
	padding-bottom: 0;
	padding-top: 0px;
}

#webmap-toolbar-right {
	float: right;
	padding-right: 5px;
}


#stackContainer .panel_content {
   font-family: helvetica, sans-serif;
   font-size: 12px;
   color: #44515A;
   line-height: 1.75;
   padding-top: 0;
}

.claro h2 {
    margin-top: 0;
}

.claro p {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  color: #44515A;
  line-height: 1.75;
}

.claro .dijitToolbar {
	padding: 0px;
}

.dijit .dijitToolbar {
	border: 0px;
}

#toolbarContainer_bv {
	height: 30px;
}

.dijitInline .dijitTitleNode {
	color: red;
}

#bottomPane {
    display: none !important;
    height: 0 !important;
}
.dojoxFloatingCloseIcon {
   display: none !important;
}

#closeBtn {
	display: block !important;
	margin-top: 2px;
	margin-right: 10px;
}

.dojoxFloatingPaneTitle {
	background-color: #44515A;
	color: rgb(252,252,252);	
	border: 0px;
	padding-bottom: 5px;
}

.notembed #header {
	background:url(../images/frac-tracker-logo.png) top left no-repeat;
	margin: 0;
	width: 100%;
	display: none;
}

*:focus {
    -moz-box-shadow: transparent 0 0 0 0;
    -webkit-box-shadow: transparent 0 0 0 0;
    box-shadow: transparent 0 0 0 0;
	 outline: 0;
}



.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode,
.claro .dijitButtonActive .dijitButtonNode,
.claro .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitComboButtonActive .dijitButtonNode,
.claro .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitToggleButtonChecked .dijitButtonNode:hover {
	background-color: transparent !important;
	border: 1px solid transparent;
	color: inherit !important;
	-webkit-transition-duration: 0.0s !important;
	-moz-transition-duration: 0.0s !important;
	transition-duration: 0.0s !important;
}

.dijit,
.dijitReset,
.dijitInline,
.dijitToggleButton, 
.dijitToggleButtonChecked .dijitChecked,
.dijitToggleButtonHover, 
.dijitToggleButtonCheckedHover,
.dijitCheckedHover,
.dijitHover,
.dijitToggleButtonFocused,
.dijitToggleButtonCheckedFocused,
.dijitCheckedFocused,
.dijitToggleButtonHoverFocused,
.dijitToggleButtonCheckedHoverFocused, 
.dijitCheckedHoverFocused,
.dijitHoverFocused {
	color: inherit !important;
	border: 1px solid transparent;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color: rgb(63,63,63) !important;
	border: 1px solid transparent;
}
.dijit.dijitToggleButton.dijitToggleButtonChecked {
	background-color: rgb(63,63,63) !important;
}


.simpleGeocoder .esriGeocoder .esriGeocoderSearch {
	cursor: pointer;
	background-image: url(../images/sprite.png);
	background-position: 0 -17px;
	background-color: transparent !important;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin:0;
	margin-top: 5px;
	overflow: hidden;
}

.simpleGeocoder .esriGeocoderIcon {
	float: left;
	outline: 0;
	width: 16px;
	height: 15px;
	display: block;
	overflow: hidden;
	margin: 5px 0 6px 6px;
}

.simpleGeocoder .esriGeocoder {
	display: block;
	height: 100%;
	margin: 0px;
	margin-left: 10px;
	border: 0;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.simpleGeocoder .esriGeocoder input,
.simpleGeocoder .esriGeocoder input:focus {
	color: #000;
	padding: 7px 0px 7px 17px;
	margin: 0 0 0 10px;
	background-color: #FFF;
	width: 200px;
}

.simpleGeocoder .esriGeocoderContainer {
	width: auto;
}


nav a:link,
#nav a:visited {
  padding: 5px 5px 4px 5px;
  text-decoration: none;
}

.notembed {
  margin: auto;
}

.map .logo-med {
	background-image: url(../images/sprite.png);
	background-position: -290px -422px;
	display: inline-block;
	vertical-align: bottom;
	width: 132px;
	height: 40px;
	z-index: 30;
	cursor: pointer;
}

.esriPrint .dijitComboButton .dijitIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -180px;
	background-color: transparent !important;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.esriDetailsIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 0px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.esriLegendIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -36px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.esriLayerIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -271px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.esriBasemapIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -72px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.esriMeasureIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -90px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

.claro .esriBookmarkIcon, .esriBookmarkIcon {
    background-image: url(../images/sprite.png);
    background-position: 0 -108px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0;
    overflow: hidden;
}

.esriLinkIcon {
   background-image: url(../images/sprite.png);
	background-position: 0 -126px;
   display: inline-block;
   height: 18px;
	width: 18px;
	margin: 0;
	overflow: hidden;
}

#toolbarContainer_bv .dijitToolbar {
   background-image: none; 
	background-color: rgb(21,21,21);
	border: none;
	height: 34px;
	width: 100%;
}


.dijitToolbar .dijitButtonContents {
	padding-right: 10px;
}


/*buttoncode*/

.dijitOffScreen {
	position:absolute;left:-999999px
}

.dijitDisplayNone,.dijitToggleButtonIconChar {
	display:none
}

/* Zoom Buttons */

.element-invisible {
	display:none;
}
.dijitOffScreen {
	position:absolute;left:-999999px;
}
.dijitDisplayNone,.dijitToggleButtonIconChar {
	display:none;
}

.map .layerTile {
	position:absolute;
	border:none;
	margin:0;
	padding:0;
}

.esriControlsBR {
	position:absolute;
	top:auto;
	right:20px;
	bottom:15px;
	left:auto;
	z-index:1036;
}

.esriAttributionList .esriAttributionItem .esriControlsBR span {
   font-size: 10px;
	color: #726B6B;
}

.esriAttributionDelim {
	display:none;
}

.esriSimpleSlider div {
	width: 25px;
	height: 25px;
	background-color: #fcfcfc;
	color: #f2f2f2;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 15px;
	margin: 0;
	padding: 3px 5px 5px;
	text-align: center;
}

.esriSimpleSlider div:active {
	border-color: #eae7e7;
	background-color: #eae7e7;
	-webkit-box-shadow:inset 0 0px 3px rgba(0,0,0,0.15);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);
}

.esriSimpleSlider .esriSimpleSliderIncrementButton {
	float:left;
	margin-left:1px;
	line-height: 25px;
	color: rgb(21,21,21);
}

.esriSimpleSlider .esriSimpleSliderDecrementButton {
	float:left;
	line-height: 25px;
	color: rgb(21,21,21);
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
	border-radius: 0px;
	border-bottom: 0px;
}

.dijit.dijitToggleButton.dijitToggleButtonHover,
.dijit.dijitDropDownButton.dijitDropDownButtonHover,
.dijit.dijitComboButton.dijitComboButtonHover,
.dijitButtonNode.dijitDownArrowButtonHover,
.dijit.dijitComboButton.dijitComboButtonHover .dijitArrowButton.dijitDownArrowButton,
.dijit.dijitComboButton.dijitComboButtonHover *,
.dijit.dijitComboButton.dijitComboButtonActiveFocused.dijitActiveFocused,
.dijit.dijitComboButton.dijitComboButtonDisabled {
	background-color: rgb(63,63,63) !important;
	border-color: transparent;
	-webkit-transition-duration: 0.0s !important;
	-moz-transition-duration: 0.0s !important;
	transition-duration: 0.0s !important;
}

/**
 * Revise the popup window so it doens't look so
 * undesigned. We removed the border and rounded
 * corners to give it a sleeker look, we change
 * the title pane color to match the primary
 * toolbar at top of the screen. We also updated
 * images that were used for the prev, next, close
 * and maximize buttons.
 */
.esriPopup .esriPopupWrapper {
    background-color: rgb(252,252,252);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/** Postition of the pointer of the popup **/
.esriPopup .pointer.top {
    top: -14px !important;    
}
.esriPopup .pointer.topRight,
.esriPopup .pointer.topLeft {
    top: -44px;
}
.esriPopup .pointer.bottom {
    bottom: -13px !important;    
}
.esriPopup .pointer.bottomLeft,
.esriPopup .pointer.bottomRight {
    bottom: -44px !important;
}
.esriPopup .outerPointer.left {
    left: 4px;
}
.esriPopup .outerPointer.right {
    right: 4px;
}

/** Popup Header **/
.esriPopup .titlePane {
    background-color: rgb(21,21,21);
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    float: left;
    padding: 5px 5px 0;
    text-align: right;
    width: 100%;
}

    .esriPopup .titlePane .title,
    .esriPopup .titlePane .spinner {
        border: 4px solid rgba(0, 0, 0, 0);
        border-left-width: 6px;
        border-right-width: 6px;
        display: inline-block;
        float: left;
    }
    .esriPopup .titlePane .hidden {
        display: none;
    }

    .esriPopup .titlePane .titleButton.prev,
    .esriPopup .titlePane .titleButton.next,
    .esriPopup .titlePane .titleButton.close,
    .esriPopup .titlePane .titleButton.maximize,
    .esriPopup .titlePane .titleButton.restore {
        background-color: transparent;
        background-image: url(../images/glyphicons-halflings-white.png);
        border: 6px solid transparent;
        bottom: auto;
        display: inline-block;
        height: 14px;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
        width: 14px;
    }
        .esriPopup .titlePane .titleButton.prev:hover,
        .esriPopup .titlePane .titleButton.next:hover,
        .esriPopup .titlePane .titleButton.close:hover,
        .esriPopup .titlePane .titleButton.maximize:hover,
        .esriPopup .titlePane .titleButton.restore:hover {   
            background-color: rgb(63,63,63);
            border: 6px solid rgb(63,63,63);
        }
        
    .esriPopup .titlePane .titleButton.prev {
        background-position:-240px -96px;
    }
    .esriPopup .titlePane .titleButton.next {
        background-position:-264px -96px;
    }
    .esriPopup .titlePane .titleButton.close {
        background-position:-312px 0;
    }
    .esriPopup .titlePane .titleButton.maximize {
        background-position:-360px -96px;
    }
    .esriPopup .titlePane .titleButton.restore {
        background-position:-384px -96px;
    }

    .esriViewPopup .hzLine {
        border-top-color: rgb(224,224,224);
        margin-bottom: 10px;
    }
    
    .esriViewPopup .mainSection .attrTable td.attrName {
        color: rgb(61,61,61);
        font-weight: bold;
    }

/** Popup content **/
.esriPopup .contentPane {
    border: 0;
}

/** Popup Footer **/
.esriPopup .actionsPane {
    border: 0;
    border-top: 1px solid rgb(224,224,224);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0 12px;
    padding: 12px 0 14px;
}



/**
 * Remove the ghosted border and rounded corners while the map is loading
 */
#map,
#floater,
#map #floater {
    background-image: none;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/**
 * Fix an issue with the toolbar that did not have 100% width
 */
#mainWindow > .dijitBorderContainer,
#mainWindow > .dijitBorderContainerNoGutter {
    width: 100% !important;
}

#dijit_layout_BorderContainer_0,
#mainWindow #dijit_layout_BorderContainer_0 {
    height: 100% !important;
    width: 100% !important;
}

#mainWindow {
	background-color: rgb(252,252,252);
	height: 100% !important;
	border: none;
	box-shadow: 0 0 0px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
    width: 100% !important;  
}

#map_graphics_layer path {
    stroke: rgb(255, 255, 255);
}

#map, #mainWindow {
	height: 100% !important;
}

/*#mainWindow + .dijitBorderContainerNoGutter {
	height: 100% !important;
}


#map {
	height: 100% !important;
}
*/
