/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */


/**
 * Variables and repeating functions
 */
$typeSansSerif = Helvetica, Arial, sans-serif


/**
 * Multi-browser mixins
 */
borderRadius(rValue)
  -webkit-border-radius rValue
  -moz-border-radius rValue
  -khtml-border-radius rValue
  -o-border-radius rValue
  border-radius rValue
 
boxShadow(sValues)
  box-shadow sValues
  -moz-box-shadow sValues
  -webkit-box-shadow sValues

textShadow(sValues)
  box-shadow sValues
  -moz-box-shadow sValues
  -webkit-box-shadow sValues

backgroundClip(cType)
  -webkit-background-clip cType
  -moz-background-clip cType
  background-clip cType

backgroundGradient(cStart, cEnd, cStartIE, cEndIE)
  background-color cStart
  background-image -moz-linear-gradient(top, cStart, cEnd)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(cStart), to(cEnd))
  background-image -webkit-linear-gradient(top, cStart, cEnd)
  background-image -o-linear-gradient(top, cStart, cEnd)
  background-image linear-gradient(to bottom, cStart, cEnd)
  background-repeat repeat-x
  /** filter progid:DXImageTransform.Microsoft.gradient(startColorstr='cStartIE', endColorstr='cEndIE', GradientType=0) **/

sprite(sPosition)
    background-color transparent
    background-image url("../images/sprite.png?1362689112")
    background-position sPosition
    background-repeat no-repeat
    text-indent -999999px

placement(pTop, pRight, pBottom, pLeft)
  position absolute
  top pTop
  right pRight
  bottom pBottom
  left pLeft

animate-element(aDuration, aIteration, aName)
  -webkit-animation-duration aDuration
  -webkit-animation-iteration-count aIteration
  -webkit-animation-name aName
  -moz-animation-duration aDuration
  -moz-animation-iteration-count aIteration
  -moz-animation-name aName


/**
 * Import Application Style dependecies
 */
@import 'lib/bootstrap.min.css'
@import 'lib/bootstrap-responsive.min.css'

@import 'lib/animation'
@import 'lib/icons'
@import 'lib/layout'
@import 'lib/modal.css'
@import 'lib/toolbar'

/**
 * ArcGIS Style dependencies
 */
@import 'lib/attribution'
@import 'lib/basemaps'
@import 'lib/esri'
@import 'lib/geocoder'
@import 'lib/layers'
@import 'lib/legend'
@import 'lib/measurement'
@import 'lib/notes'
@import 'lib/popup'
@import 'lib/print'
@import 'lib/scalebar'
@import 'lib/timeslider'
@import 'lib/zoomslider'
