@import 'lib/bootstrap.min.css';
@import 'lib/bootstrap-responsive.min.css';
@-webkit-keyframes markerPulse{0%{opacity:1}
45%{opacity:.2}
100%{opacity:1}
}@-moz-keyframes markerPulse{0%{opacity:1}
45%{opacity:.2}
100%{opacity:1}
}#map_graphics_layer circle{-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:markerPulse;-moz-animation-duration:3s;-moz-animation-iteration-count:infinite;-moz-animation-name:markerPulse}
.icon-about{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 0;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-search{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -18px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-layers{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -36px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-legend{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -36px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-basemap{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -72px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-measure{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -90px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-note{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -108px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.icon-export{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -126px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.esriTimeSlider .tsButton.tsPlayButton{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -198px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px;margin-right:18px}
.esriTimeSlider .tsButton.tsPauseButton{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -216px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px;margin-right:18px}
.esriTimeSlider .tsButton.tsPrevButton{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -234px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px;margin-left:18px}
.esriTimeSlider .tsButton.tsNextButton{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -252px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px;margin-left:18px}
html,body,.map,.map.container,#map_container,#wrapper{height:100%;margin:0;overflow:hidden;padding:0;width:100%}
.center{text-align:center}
.map .layerTile{position:absolute;border:none;margin:0;padding:0}
.logo{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:-306px -426px;background-repeat:no-repeat;text-indent:-999999px;position:absolute;top:auto;right:20px;bottom:10px;left:auto;height:40px;width:114px;z-index:6}
#progress{position:absolute;top:38%;right:25%;bottom:auto;left:25%;height:38px;line-height:38px;width:50%}
.element-invisible{display:none}
.draggable h3{cursor:move}
.dijitOffScreen{position:absolute;left:-999999px}
.dijitDisplayNone,.dijitToggleButtonIconChar{display:none}
@import 'lib/modal.css';
.toolbox-container,.toolbox,.toolbox-inner{display:block}
.toolbox-container.element-invisible{display:none}
.toolbox-container{position:absolute;top:20px;right:20px;bottom:auto;left:auto;display:none}
.toolbox{background-color:#101010;background-color:rgba(16,16,16,0.3);-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-o-border-radius:3px;border-radius:3px;color:#f2f2f2;float:left;margin:0;padding:3px;position:relative;width:100%}
.toolbox-inner{background-color:#101010;background-color:rgba(16,16,16,0.8);-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-o-border-radius:3px;border-radius:3px;float:left;margin:0;padding:0;width:100%}
.toolbox h3{border-bottom:1px solid #424242;color:#f2f2f2;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;padding:0 0 8px 24px;text-align:center}
.toolbox ul,.toolbox li{list-style-type:none;margin:0;padding:0}
.toolbox a{color:#f2f2f2;display:block;font-size:12px;padding:7px 22px 7px 7px;text-decoration:none}
.toolbox a:hover{background-color:#101010;background-color:rgba(16,16,16,0.8)}
.toolbox a i,.toolbox a span{display:inline;display:inline-block}
.toolbox a span{padding:0 0 0 8px}
.toolbox .close-toolbox{float:right;padding:7px 14px}
.esriControlsBR{position:absolute;top:auto;right:138px;bottom:15px;left:auto;z-index:1036}
.esriControlsBR span{font-size:11px;color:#101010;color:rgba(16,16,16,0.3)}
.esriAttributionDelim{display:none}
.esriBasemapGalleryNode{float:left;margin:5px 10px;text-align:center;width:150px}
.esriBasemapGalleryLabelContainer{font-size:11px}
.esriBasemapGalleryThumbnail{border:1px solid #fff;box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px #000;height:67px;margin:1px;width:100px}
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{border:2px solid #5eb95e;margin:0}
.esriButton .dijitButtonNode{color:#f2f2f2;cursor:pointer;display:block;float:left;font-size:12px;margin:0 8px 8px;padding:7px;text-decoration:none}
.esriButtonHover .dijitButtonNode{background-color:#101010;background-color:rgba(16,16,16,0.8)}
.esriToggleButton{float:left;margin:1px 12px 0}
.dijitArrowButtonChar.caret{margin-left:6px}
.dijitMenuItemLabel{cursor:pointer}
.dijitHover .esriTimeSlider .tsButton.tsPlayButton,.dijitHover .esriTimeSlider .tsButton.tsPauseButton,.dijitHover .esriTimeSlider .tsButton.tsPrevButton,.dijitHover .esriTimeSlider .tsButton.tsNextButton{background-color:#101010}
.simpleGeocoder{display:inline;display:inline-block}
.esriGeocoderResults ul{-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:6px;-moz-border-radius:6px;-khtml-border-radius:6px;-o-border-radius:6px;border-radius:6px;box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);float:left;list-style:none;margin:2px 0 0;min-width:160px;padding:5px 0;z-index:1000}
.esriGeocoderResults ul li{clear:both;color:#333;cursor:pointer;display:block;font-weight:normal;line-height:20px;padding:3px 20px;white-space:nowrap}
.esriGeocoderResults ul li:hover,.esriGeocoderResults ul li:focus,.esriGeocoderResults ul ul:hover > a{background-color:#08c;background-image:-moz-linear-gradient(top,#08c,#0077b3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;color:#fff;text-decoration:none}
.esriGeocoderResults ul .active > a,.esriGeocoderResults ul .active > a:hover{background-color:#08c;background-image:-moz-linear-gradient(top,#08c,#0077b3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;color:#fff;outline:0;text-decoration:none}
#layers{position:absolute;top:20px;right:auto;bottom:auto;left:311px;min-width:220px;z-index:1036}
#layers-content{float:left;margin:0;min-width:220px;padding:12px;width:100%}
.esriLayersService{border-bottom:1px solid #424242;padding:2px 12px}
#legend{position:absolute;top:20px;right:auto;bottom:auto;left:71px;min-width:220px;z-index:1036}
#legend-content{margin:0;min-width:220px}
.esriLegendService{border-bottom:1px solid #424242;padding:2px 12px}
#measurement{position:absolute;top:20px;right:auto;bottom:auto;left:551px;min-width:220px;z-index:1036}
#measurement .toolbox{color:transparent}
#measurement .toolbox .dijitContentPane{color:#f2f2f2}
#measurement .toolbox .dijitContentPane.resultLabel{border-top:1px solid #424242;color:#f2f2f2;float:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:16px;padding:8px 0;text-align:center;width:100%}
#measurement .toolbox .dijitContentPane.result{color:#f2f2f2;float:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;padding:8px 0;text-align:center;width:100%}
#measurement-content{margin:0;min-width:220px}
.esriMeasurement{float:left;margin-bottom:10px;width:100%}
.areaIcon{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -144px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.distanceIcon{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -162px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.locationIcon{background-color:transparent;background-image:url("../images/sprite.png?1362689112");background-position:0 -180px;background-repeat:no-repeat;text-indent:-999999px;display:inline;display:inline-block;height:18px;line-height:20px;margin:0;vertical-align:top;width:18px}
.unitDropDown{margin:auto}
.resultLabel{margin:auto}
.result{margin:auto}
.esriPopup{position:absolute;z-index:40;box-shadow:0 0 .75em #777;-moz-box-shadow:0 0 .75em #777;-webkit-box-shadow:0 0 .75em #777;-o-box-shadow:0 0 .75em #777;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:12px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.esriPopup .esriPopupWrapper{box-shadow:0 0 .75em #777;-moz-box-shadow:0 0 .75em #777;-webkit-box-shadow:0 0 .75em #777;-o-box-shadow:0 0 .75em #777;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.esriPopup .hidden{display:none}
.esriPopup .sizer{width:270px}
.esriPopup a{color:#369;text-decoration:underline}
.esriPopup .titlePane{background-color:#444;color:#fff;line-height:20px;padding-left:6px;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;cursor:default;border:1px solid #666;border-bottom:none}
.esriPopup.blueTheme .titlePane{background-color:#5491b8;border-color:#777}
.esriPopup .titlePane .spinner{float:left;margin-top:2px;margin-right:4px;cursor:pointer;width:16px;height:16px;background-position:0 0}
.dj_ie7 .esriPopup .titlePane .spinner.hidden,.dj_ie7 .esriPopup.blueTheme .titlePane .spinner.hidden{background:none}
.dj_ie7 .esriPopup .titlePane .title{background-color:#444}
.esriPopup .titleButton{position:absolute;top:2px;cursor:pointer;background:url("../../images/popup.png") no-repeat}
.esriPopup .titleButton.prev{right:64px;background-position:0 -224px;width:9px;height:17px}
.esriPopup .titleButton.next{right:46px;background-position:0 -443px;width:9px;height:17px}
.esriPopup .titleButton.maximize{right:22px;background-position:0 -251px;width:11px;height:11px;top:5px}
.esriPopup .titleButton.restore{right:22px;background-position:0 -787px;width:11px;height:11px;top:5px}
.esriPopup .titleButton.close{right:3px;background-position:0 -171px;width:12px;height:17px}
.dj_ie7 .esriPopup .titleButton.hidden{background:none}
.esriPopup .contentPane{position:relative;max-height:300px;overflow:auto;padding:10px 6px 6px 10px;background-color:#f7f7f7;border:1px solid #999;border-top:none;border-bottom:none;color:#333}
.esriPopup .actionsPane{padding:2px 10px 4px 10px;background-color:#f7f7f7;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;border:1px solid #999;border-top:none}
.esriPopup .actionsPane .action{margin-right:10px}
.esriPopup .pointer,.esriPopup .outerPointer{position:absolute;background:url("../../images/popup.png") no-repeat}
.esriPopup .pointer.top{left:50%;top:-12px;background-position:0 -580px;width:24px;height:14px;margin-left:-12px}
.esriPopup.blueTheme .pointer.top{left:50%;top:-12px;background-position:0 -617px;width:24px;height:14px;margin-left:-12px}
.esriPopup .pointer.bottom{left:50%;bottom:-12px;background-position:0 -55px;width:25px;height:14px;margin-left:-12px}
.esriPopup .pointer.right{right:-10px;top:50%;background-position:0 -344px;width:13px;height:17px;margin-top:-9px}
.esriPopup .pointer.left{left:-11px;top:50%;background-position:0 -285px;width:13px;height:17px;margin-top:-8px}
.esriPopup .outerPointer.right{right:6px;top:50%;background-position:0 -344px;width:13px;height:17px;margin-top:-9px}
.esriPopup .outerPointer.left{left:5px;top:50%;background-position:0 -285px;width:13px;height:17px;margin-top:-8px}
.esriPopup .pointer.topLeft{left:0;top:-43px;background-position:0 -470px;width:51px;height:45px}
.esriPopup.blueTheme .pointer.topLeft{left:0;top:-43px;background-position:0 -525px;width:51px;height:45px}
.esriPopup .pointer.topRight{right:0;top:-43px;background-position:0 -652px;width:51px;height:45px}
.esriPopup.blueTheme .pointer.topRight{right:0;top:-43px;background-position:0 -707px;width:51px;height:45px}
.esriPopup .pointer.bottomRight{right:0;bottom:-43px;background-position:0 -91px;width:51px;height:45px}
.esriPopup .pointer.bottomLeft{left:0;bottom:-43px;background-position:0 0;width:51px;height:45px}
.dj_ie7 .esriPopup .pointer.hidden{background:none}
.esriViewPopup .hidden{display:none}
.esriViewPopup .hzLine{border:none;border-top:1px solid #333;margin-top:6px;margin-bottom:6px}
.esriViewPopup .break{height:14px}
.esriViewPopup .header{font-weight:bold}
.esriViewPopup .mainSection .attrTable{border-collapse:collapse}
.esriViewPopup .mainSection .attrTable td{padding:2px;padding-bottom:5px}
.esriViewPopup .mainSection .attrTable td.attrName{color:#888;padding-right:5px}
.esriViewPopup .attachmentsSection ul{margin:0;padding:0;list-style-type:none}
.esriViewPopup .caption{font-style:italic}
.esriViewPopup .gallery{position:relative;width:200px;height:150px;border:1px solid #ddd;background-color:#fff;margin:10px 13px 0 12px}
.esriViewPopup .gallery .frame.image{text-align:center}
.esriViewPopup .gallery .frame img{max-width:200px;max-height:150px;border-style:none}
.esriViewPopup .gallery .frame div.chart{width:200px;height:150px}
.esriViewPopup .gallery ul.summary{position:absolute;right:0;bottom:-18px;list-style-type:none;margin:0;padding:0}
.esriViewPopup .gallery ul.summary li{float:left}
.esriViewPopup .gallery ul.summary li.mediaCount{margin-left:3px}
.esriViewPopup .gallery .mediaHandle{position:absolute;top:67px;cursor:pointer;background:url("../../images/popup.png") no-repeat}
.esriViewPopup .gallery .mediaHandle.prev{left:-12px;background-position:0 -198px;width:9px;height:16px}
.esriViewPopup .gallery .mediaHandle.next{right:-12px;background-position:0 -417px;width:9px;height:16px}
.dj_ie7 .esriViewPopup .gallery .mediaHandle.hidden{background:none}
.esriViewPopup .gallery .mediaIcon{background:url("../../images/popup.png") no-repeat}
.esriViewPopup .gallery .mediaIcon.image{background-position:0 -392px;width:15px;height:15px}
.esriViewPopup .gallery .mediaIcon.chart{background-position:0 -146px;width:19px;height:15px}
.dj_ie7 .esriViewPopup .gallery .mediaIcon.hidden{background:none}
.esriViewPopup .editSummarySection .break{height:10px}
.esriViewPopup .editSummary{color:#888}
.esriPopupMobile{position:absolute;z-index:40;box-shadow:0 0 .75em #111;-moz-box-shadow:0 0 .75em #111;-webkit-box-shadow:0 0 .75em #111;-o-box-shadow:0 0 .75em #111;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:12px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.esriMobilePopupNavigator{position:absolute;top:42px;overflow:hidden;width:100%;height:18px;background:#ddd;z-index:42;text-align:center;padding-bottom:3px}
.esriMobilePopupInfoView{display:none;position:absolute;top:42px;overflow:hidden;width:100%;height:100%;background:#fff;z-index:42;padding-bottom:30px;padding-left:2px}
.esriPopupMobile .hidden{display:none}
.esriPopupMobile .sizer{width:260px}
.esriPopupMobile a{color:#369;text-decoration:underline}
.esriPopupMobile .titlePane{background:none repeat scroll 0 0 #0e3043;color:#fff;height:40px;padding-left:35px;padding-right:35px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;cursor:default;border:2px solid #fff}
.esriPopupMobile .titlePane .title{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:10pt;font-weight:bold;width:174 x;line-height:18px;margin-top:3px}
.esriPopupMobile .titlePane .footer{font-size:9pt;font-style:italic;line-height:10px}
.esriPopupMobile .titlePane .spinner{float:left;margin-top:4px;margin-right:4px;cursor:pointer;width:16px;height:16px;background-position:0 0}
.esriPopupMobile .titleButton{position:absolute;top:2px;cursor:pointer}
.esriPopupMobile .titleButton.close{top:6px;left:3px;width:32px;height:32px;background:url("../dijit/images/whitex.png") no-repeat}
.esriPopupMobile .titleButton.arrow{top:6px;right:3px;width:32px;height:32px;background:url("../dijit/images/whiter.png") no-repeat}
.esriPopupMobile .titleButton.prev{top:26px;left:76px;width:18px;height:11px;background:url("../dijit/images/leftlongarrow.png") no-repeat}
.esriPopupMobile .titleButton.next{top:26px;right:76px;width:18px;height:11px;background:url("../dijit/images/rightlongarrow.png") no-repeat}
.esriPopupMobile .pointer{position:absolute}
.esriPopupMobile .pointer.top{left:118px;top:-10px;width:24px;height:12px;margin-left:0;background:url("../dijit/images/pointertop.png") no-repeat}
.esriPopupMobile .pointer.bottom{left:50%;bottom:-10px;width:24px;height:12px;margin-left:0;background:url("../dijit/images/pointerbottom.png") no-repeat}
.dijitPopup{position:absolute;background-color:#f2f2f2;color:#101010;margin:0;border:0;padding:0;z-index:2060 !important}
.esriPrint a,.esriPrint a:active{outline:none}
.esriScalebar{position:absolute;top:auto;right:auto;bottom:20px;left:20px !important;height:14px;z-index:30}
.esriScalebarRuler{background-color:#fff;border:none;height:6px;overflow:hidden;position:relative;width:100%}
.esriScalebarRulerBlock{background-color:#101010;overflow:hidden;position:absolute;height:50%}
.esriScalebarRulerBlock.upper_firstpiece{top:0%;left:0%;width:25%}
.esriScalebarRulerBlock.upper_secondpiece{top:0%;left:50%;width:25%}
.esriScalebarRulerBlock.lower_firstpiece{top:50%;left:25%;width:25%}
.esriScalebarRulerBlock.lower_secondpiece{top:50%;left:75%;width:30%}
.esriScalebarLabel{color:#101010;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:bold;position:absolute;text-align:center;width:10%}
.esriScalebarFirstNumber{left:45%}
.esriScalebarSecondNumber{left:95%}
#timeslider{position:absolute;top:auto;right:0;bottom:0;left:0;min-width:220px;z-index:1036}
#timeslider *{box-sizing:border-box}
#timeslider .toolbox{-webkit-border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-o-border-radius:0;border-radius:0;padding:0}
#timeslider .toolbox-inner{padding:20px}
#timeslider-content{margin:0;min-width:220px}
.esriTimeSlider{width:100%;z-index:999;position:relative}
.esriTimeSlider .tsTmp{padding-top:7px;padding-bottom:20px}
.esriTimeSlider .tsButton.tsPlayButton{margin-top:6px}
.esriTimeSlider .tsButton.tsPauseButton{margin-top:6px}
.esriTimeSlider .tsButton.tsPrevButton{margin-top:6px}
.esriTimeSlider .tsButton.tsNextButton{margin-top:6px}
.esriTimeSlider .ts{padding:10px 3px 3px 3px;margin:3px}
.esriTimeSlider .tsTicks{height:10px;margin-bottom:-5px}
.esriTimeSlider .tsLabels{font-size:.7em;margin-top:5px}
.esriTimeSlider table td{vertical-align:top !important}
.dijitSliderImageHandleH{background-color:#9fbf00;border:1px solid #9fbf00;-webkit-border-radius:20px;-moz-border-radius:20px;-khtml-border-radius:20px;-o-border-radius:20px;border-radius:20px;height:20px;left:50%;top:-5px;vertical-align:top;width:20px}
.dijitRuleMark{border-width:1px;border-style:solid;border-color:#252525;border-color:rgba(242,242,242,0.1);height:100%;position:absolute}
.dijitRuleContainer{overflow:visible;position:relative}
.dijitRuleLabelContainer{position:absolute}
.dijitRuleLabelContainerH,.dijitRuleLabelContainerV{display:inline;display:inline-block;text-align:center}
.dijitRuleLabelH,dijitRuleLabelV{left:-50%;position:relative}
.dijitSliderMoveable{z-index:99;position:absolute !important;display:block;vertical-align:middle}
.dijitSliderMoveableH{right:0}
.dijitSliderMoveableV{right:50%}
.dj_a11y div.dijitSliderImageHandle,.dijitSliderImageHandle{margin:0;padding:0;position:relative !important;cursor:pointer}
.dj_iequirks .dj_a11y .dijitSliderImageHandle{font-size:0}
.dj_ie7 .dijitSliderImageHandle{overflow:hidden;font-size:75%}
.dj_ie7 .dj_a11y .dijitSliderImageHandle{overflow:visible}
.dj_a11y .dijitSliderFocused .dijitSliderImageHandle{border:4px solid #000;height:8px;width:8px}
.dijitSliderImageHandleV{top:-8px;right:-50%}
.dijitSliderBar{border:0}
.dijitSliderBarContainerV,.dijitSliderBarContainerH{position:relative;height:100%;z-index:1}
.dijitSliderBarH,.dijitSliderBarV{border:0;height:10px}
.dijitSliderProgressBar{background-color:#9fbf00;z-index:1}
.dijitSliderProgressBarV{position:static !important;height:0;vertical-align:top;text-align:left}
.dj_webkit .dijitSliderProgressBarV{padding-top:1px}
.dijitSliderProgressBarH{position:absolute !important;width:0;vertical-align:middle;overflow:visible}
.dijitSliderRemainingBar{overflow:hidden;background-color:#252525;background-color:rgba(242,242,242,0.1);z-index:1}
.dijitSliderRemainingBarV{height:100%;text-align:left}
.dijitSliderRemainingBarH{width:100% !important}
.dijitSliderBumper{overflow:hidden;z-index:1}
.dijitSliderBumperV,.dijitSliderBumperH{height:10px;width:20px}
.dijitSliderBottomBumper,.dijitSliderLeftBumper,.dijitSliderTopBumper,.dijitSliderRightBumper{background-color:#252525;background-color:rgba(242,242,242,0.1)}
.dijitSliderDecoration{text-align:center}
.dijitSliderDecorationC,.dijitSliderDecorationV{position:relative}
.dj_ie6 .dijitSliderV td,.dj_ie7 .dijitSliderV td{position:static}
.dijitSliderDecorationH{width:100%}
.dijitSliderDecorationV{height:100%}
.dijitSliderButton{font-family:monospace;margin:0;padding:0;display:block}
.dj_a11y .dijitSliderButtonInner{visibility:visible}
.dijitSliderButtonContainer{text-align:center;height:0}
.dijitSliderButtonContainer *{cursor:pointer}
.dijitSlider .dijitButtonNode{display:block;padding:0}
.esriSimpleSlider{position:absolute;top:20px;right:auto;bottom:auto;left:20px;background-color:#101010;background-color:rgba(16,16,16,0.3);-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-o-border-radius:3px;border-radius:3px;margin:0;padding:3px}
.esriSimpleSlider div{background-color:#101010;background-color:rgba(16,16,16,0.8);-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-o-border-radius:3px;border-radius:3px;color:#f2f2f2;cursor:pointer;display:block;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:18px;margin:0;padding:3px 7px 5px;text-align:center}
.esriSimpleSlider div:last-child{margin-top:3px}
