/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */
 
.esriControlsBR
    placement(auto, 158px, 15px, auto)
    z-index 1036
    
.esriControlsBR span
    font-size 11px
    color rgb(16,16,16)
    color rgba(16,16,16,0.3)
    
.esriAttributionDelim
    display none