/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */
 
/**
 * ArcGIS Base Maps Gallery
 *
 * For implementation of Javascript for the Base Maps Gallery
 * you can edit the js/shackleton/basemaps.js file
 *
 */
.esriBasemapGalleryNode
    float left
    margin 5px 10px
    text-align center
    width 150px

.esriBasemapGalleryLabelContainer
    font-size 11px

.esriBasemapGalleryThumbnail
    border 1px solid white
    boxShadow(0px 0px 5px black)
    height 67px
    margin 1px
    width 100px

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail
    border 2px solid #5eb95e
    margin 0