/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */

/**
 * Esri Overrides
 */
.esriButton .dijitButtonNode
    color rgb(242,242,242)
    cursor pointer
    display block
    float left
    font-size 12px
    margin 0 8px 8px
    padding 7px
    text-decoration none
    
.esriButtonHover .dijitButtonNode
    background-color rgb(16,16,16)
    background-color rgba(16,16,16,0.8)

.esriToggleButton
    float left
    margin 1px 12px 0

.dijitArrowButtonChar.caret
    margin-left 6px

.dijitMenuItemLabel
    cursor pointer

.dijitHover .esriTimeSlider .tsButton.tsPlayButton
.dijitHover .esriTimeSlider .tsButton.tsPauseButton
.dijitHover .esriTimeSlider .tsButton.tsPrevButton
.dijitHover .esriTimeSlider .tsButton.tsNextButton
    background-color rgb(16,16,16,0.8)