/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */
icon(iPosition)
    sprite(iPosition)
    display inline
    display inline-block
    height 18px
    line-height 20px
    margin 0
    vertical-align top
    width 18px

.icon-about
    icon(0 0)

.icon-search
    icon(0 -18px)

.icon-layers
    icon(0 -36px)

.icon-legend
    icon(0 -36px)

.icon-basemap
    icon(0 -72px)

.icon-measure
    icon(0 -90px)

.icon-note
    icon(0 -108px)

.icon-export
    icon(0 -126px)

.esriTimeSlider .tsButton.tsPlayButton
    icon(0 -198px)
    margin-right 18px

.esriTimeSlider .tsButton.tsPauseButton
    icon(0 -216px)
    margin-right 18px

.esriTimeSlider .tsButton.tsPrevButton
    icon(0 -234px)
    margin-left 18px

.esriTimeSlider .tsButton.tsNextButton
    icon(0 -252px)
    margin-left 18px
