/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */

#layers
    placement(20px, auto, auto, 71px + 20 + 220)
    min-width 220px
    z-index 1036

#layers-content
    float left
    margin 0
    min-width 220px
    padding 12px
    width 100%

.esriLayersService
    border-bottom 1px solid rgb(66,66,66)
    padding 2px 12px