/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */
#measurement
    placement(20px, auto, auto, 71px + 20 + 220 + 20 + 220)
    min-width 220px
    z-index 1036

#measurement .toolbox
    color transparent

#measurement .toolbox .dijitContentPane
    color rgb(242,242,242)

#measurement .toolbox .dijitContentPane.resultLabel
    border-top 1px solid rgb(66, 66, 66)
    color rgb(242, 242, 242)
    float left
    font-family Helvetica,Arial,sans-serif
    font-size 12px
    font-weight bold
    line-height 16px
    padding 8px 0
    text-align center
    width 100%

#measurement .toolbox .dijitContentPane.result
    color rgb(242, 242, 242)
    float left
    font-family Helvetica,Arial,sans-serif
    font-size 12px
    line-height 16px
    padding 8px 0
    text-align center
    width 100%

#measurement-content
    margin 0
    min-width 220px

.esriMeasurement
    float left
    margin-bottom 10px
    width 100%

.areaIcon
    icon(0 -144px)

.distanceIcon
    icon(0 -162px)

.locationIcon
    icon(0 -180px)

.unitDropDown
    margin auto

.resultLabel
    margin auto

.result
    margin auto