/* Styles to ensure Scroll Modal works on smaller browsers, specifically mobile. */
@media (max-width 767px)
  .modal-wrapper 
      placement(50px, 0, 0, 20%)
      position relative
      margin-left 0px
      margin-bottom 80px
      overflow visible
      width 70%
      z-index 9060

@media (max-width  480px)
  .modal-wrapper 
      placement(50px, 0, 0, 10%)
      position relative
      margin-left 0px
      margin-bottom 80px
      overflow visible
      width 80%
      z-index 9060
 