/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */


/**
 * ArcGIS Scalebar
 *
 * For implementation of Javascript for the Scalebar
 * you can edit the js/scalebar.js file
 *
 */
.esriScalebar
    placement(auto, auto, 20px, 20px !important)
    height 14px
    z-index 30

.esriScalebarRuler
  background-color rgb(255,255,255)
  border none
  height 6px
  overflow hidden
  position relative
  width 100%

.esriScalebarRulerBlock
  background-color rgb(16,16,16)
  overflow hidden
  position absolute
  height 50%

.esriScalebarRulerBlock.upper_firstpiece 
  top 0%
  left 0%
  width 25%

.esriScalebarRulerBlock.upper_secondpiece 
  top 0%
  left 50%
  width 25%

.esriScalebarRulerBlock.lower_firstpiece 
  top 50%
  left 25%
  width 25%

.esriScalebarRulerBlock.lower_secondpiece 
  top 50%
  left 75%
  width 30%

.esriScalebarLabel
  color rgb(16,16,16)
  font-family $typeSansSerif
  font-size 11px
  font-weight bold
  position absolute
  text-align center
  width 10%

.esriScalebarFirstNumber
  left 45%

.esriScalebarSecondNumber
  left 95%

