/**
 * Developed Simple ArcGIS Web Application (c) 2013
 *
 *
 * This application was built by the folks at Viable for
 * use by it's clients. Any code herein is property of Developed
 * Simple unless where otherwise noted property of ESRI.
 *
 * To find out how you can use this software or have your
 * own version of this software built to fit your custom
 * needs, contact us by visiting www.developedsimple.com.
 *
 */

/**
 * Define toolbar styles
 */
.toolbox-container
.toolbox
.toolbox-inner
    display block
    
.toolbox-container.element-invisible
    display none

.toolbox-container
    placement(20px, 20px, auto, auto)
    display none

.toolbox
    background-color rgb(16,16,16)
    background-color rgba(16,16,16,0.3)
    borderRadius(3px)
    color rgb(242,242,242)
    float left
    margin 0
    padding 3px
    position relative
    width 100%

.toolbox-inner
    background-color rgb(16,16,16)
    background-color rgba(16,16,16,0.8)
    borderRadius(3px)
    float left
    margin 0
    padding 0
    width 100%
    
.toolbox h3
  border-bottom 1px solid rgb(66,66,66)
  color rgb(242,242,242)
  font-family $typeSansSerif
  font-size 12px
  line-height 16px
  padding 0 0 8px 24px
  text-align center

.toolbox ul
.toolbox li
    list-style-type none
    margin 0
    padding 0

.toolbox a
    color rgb(242,242,242)
    display block
    font-size 12px
    padding 7px 22px 7px 7px
    text-decoration none
    
.toolbox a:hover
    background-color rgb(16,16,16)
    background-color rgba(16,16,16,0.8)
    
.toolbox a i
.toolbox a span
    display inline
    display inline-block
    
.toolbox a span
    padding 0 0 0 8px
    
.toolbox .close-toolbox
    float right
    padding 7px 14px
